body {
    background: content-box radial-gradient(rgb(15, 0, 15), rgb(0, 0, 0));
    font-family: sans-serif;
    color: white;
}

.extensiondisplay {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}